<nav class="navbar navbar-default">
  <div class="container-fluid">
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul ul class="nav navbar-nav">

         <li>
          <a href="/menu-principal">Home<b class="caret"></b></a> 
         </li>

        <li class="menu-item dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Almoxarifado<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li class="menu-item dropdown dropdown-submenu">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">Material</a>
                     <ul class="dropdown-menu">
                         <li class="menu-item ">
                            <a href="/almoxarifado_cadastrarMaterial">Cadastrar material</a>
                         </li>
                         <li class="menu-item ">
                            <a href="/almoxarifado_consultarMaterial">Consultar material</a>
                         </li>
                         <li class="menu-item ">
                            <a href="/almoxarifado_consultarEstoqueAtual">Consultar estoque atual</a>
                         </li>
                     </ul>
                </li>
                <li class="menu-item dropdown dropdown-submenu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Entradas</a>
                  <ul class="dropdown-menu">
                      <li class="menu-item ">
                         <a href="/almoxarifado_cadastrarEntrada">Cadastrar</a>
                      </li>
                  </ul>
                </li>
                <li class="menu-item dropdown dropdown-submenu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Saídas</a>
                  <ul class="dropdown-menu">
                      <li class="menu-item ">
                         <a href="/almoxarifado_cadastrarRequisicao">Cadastrar requisição</a>
                      </li>
                      <li class="menu-item ">
                         <a href="/almoxarifado_consultarRequisicoes">Consultar requisições</a>
                      </li>
                  </ul>
                </li>
            </ul>
        </li>

        <li class="menu-item dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Agendas<b class="caret"></b></a>
         <ul class="dropdown-menu">
             <li class="menu-item ">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ramais SECAD</a>
                <ul class="dropdown-menu">
                    <li class="menu-item ">
                       <a href="/agendas_cadastrarRamal">Cadastrar ramal</a>
                    </li>
                </ul>
             </li>
         </ul> 
        </li>

        <li class="menu-item dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Controles<b class="caret"></b></a>
        </li>


        <li class="menu-item dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Compras<b class="caret"></b></a>
        </li>


        <li class="menu-item dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recursos Humanos<b class="caret"></b></a>
        </li>


        <li class="menu-item dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Relatórios<b class="caret"></b></a>
        </li>
      
    </ul>  

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Site PMC</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= nome%> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><% include exit %></li>
          </ul>
        </li>
      </ul>
    
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>